# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/SBT__com_github_mpilquist_simulacrum_2_11_0_7_0_jar.xml
.idea/libraries/SBT__com_lihaoyi_ammonite_ops_2_11_0_7_6_jar.xml
.idea/libraries/SBT__com_lihaoyi_fastparse_2_11_0_3_7_jar.xml
.idea/libraries/SBT__com_lihaoyi_fastparse_utils_2_11_0_3_7_jar.xml
.idea/libraries/SBT__com_lihaoyi_sourcecode_2_11_0_1_1_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_4_jar.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_11_1_0_4_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_compiler_2_11_8_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_library_2_11_8_jar.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_11_8_jar.xml
.idea/libraries/SBT__org_scalacheck_scalacheck_2_11_1_12_5_jar.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_11_2_2_6_jar.xml
.idea/libraries/SBT__org_typelevel_catalysts_macros_2_11_0_0_2_jar.xml
.idea/libraries/SBT__org_typelevel_catalysts_platform_2_11_0_0_2_jar.xml
.idea/libraries/SBT__org_typelevel_cats_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_cats_core_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_cats_free_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_cats_kernel_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_cats_kernel_laws_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_cats_laws_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_cats_macros_2_11_0_6_1_jar.xml
.idea/libraries/SBT__org_typelevel_discipline_2_11_0_4_jar.xml
.idea/libraries/SBT__org_typelevel_machinist_2_11_0_4_1_jar.xml
.idea/libraries/SBT__org_typelevel_macro_compat_2_11_1_1_0_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
.idea/workspace.xml
FIXParser.iml
project/
sbt
sbt-launch-0.13.1.jar
sbt.bat
sbt.debug
target/
